<a href="https://colab.research.google.com/github/CamilaSury/HerramientasComputacionales/blob/main/Tarea_1_Sury_Liwski.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tarea 1 - Herramientas Computacionales Para la Investigaci√≥n
## Sury - Liwski

In [ ]:
# Importamos los paquetes a utilizar 
import pandas as pd
import numpy as np

In [ ]:
# Inciso 1: leemos tareas.csv y mostramos las primeras 5 filas
tarea = pd.read_csv("tarea.csv")
tarea.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [ ]:
# Inciso 2: mostramos solo las primeras 3 filas
tarea.head(n=3)

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31

In [ ]:
# Inciso 3: imprimir una columna como serie
tarea[['depth']]

       depth
0       61.5
1       59.8
2       56.9
3       62.4
4       63.3
...      ...
53935   60.8
53936   63.1
53937   62.8
53938   61.0
53939   62.2

[53940 rows x 1 columns]

In [ ]:
# Inciso 4: creamos una nueva serie llamada "calidad-color" y la mostramos (cut es calidad)
tarea["calidad-color"] = tarea["cut"] + "-" + tarea["color"]
tarea[["calidad-color"]]

      calidad-color
0           Ideal-E
1         Premium-E
2            Good-E
3         Premium-I
4            Good-J
...             ...
53935       Ideal-D
53936        Good-D
53937   Very Good-D
53938     Premium-H
53939       Ideal-D

[53940 rows x 1 columns]

In [ ]:
# Inciso 5: encontramos el n√∫mero de filas y columnas y el tipo de datos de cada columna 
print(f"El numero de filas es {tarea.shape[0]} y el de columnas {tarea.shape[1]}. A continuacion se presenta la columna y el tipo de datos:") # Numero de filas y columnas
print(tarea.dtypes) #columna y tipo de datos

El numero de filas es 53940 y el de columnas 11. A continuacion se presenta la columna y el tipo de datos:
carat            float64
cut               object
color             object
clarity           object
depth            float64
table            float64
price              int64
x                float64
y                float64
z                float64
calidad-color     object
dtype: object

In [ ]:
# Inciso 6: Describimos aquellas columnas cuyos datos sean de tipo 'objetct'
tarea.describe(include=["object"])

          cut  color clarity calidad-color
count   53940  53940   53940         53940
unique      5      7       8            35
top     Ideal      G     SI1       Ideal-G
freq    21551  11292   13065          4884

In [ ]:
# Inciso 7: Renombramos dos columnas y mostramos el antes y despues
tareasincambios=tarea.copy() #guardamos datos en otro data frame
tarea.rename(columns={"cut":"quality","calidad-color":"quality-color"}, inplace=True) #renombramos dos columnas
print("Sin cambios:")
print(tareasincambios.head()) #mostramos el data frame anterior
print("Con columnas renombradas:")
print(tarea.head()) #mostramos el data frame con columnas renombradas

Sin cambios:
   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
Con columnas renombradas:
   carat  quality color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [ ]:
# Inciso 8: Eliminamos columnas 2 y 3 (no queda guardado)
tarea.drop(tarea.iloc[:, 1:2],axis = 1)

       carat color clarity  depth  table  price     x     y     z
0       0.23     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 9 columns]

In [ ]:
# Inciso 9: Eliminamos multiples filas (no se guarda)
tarea.drop([223,224],axis = 0)

       carat    quality color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53938 rows x 10 columns]

In [ ]:
#Inciso 10: Ordeno "cut" en orden ascendente, que ahora es "quality" 
tarea[["quality"]].sort_values("quality")

         quality
3850        Fair
51464       Fair
51466       Fair
10237       Fair
10760       Fair
...          ...
7402   Very Good
43101  Very Good
16893  Very Good
16898  Very Good
21164  Very Good

[53940 rows x 1 columns]

In [ ]:
# Inciso 11: Ordeno todo en orden descendente de carat
tarea.sort_values(by="carat",ascending=False)

       carat  quality color clarity  depth  table  price      x      y     z
27415   5.01     Fair     J      I1   65.5   59.0  18018  10.74  10.54  6.98
27630   4.50     Fair     J      I1   65.8   58.0  18531  10.23  10.16  6.72
27130   4.13     Fair     H      I1   64.8   61.0  17329  10.00   9.85  6.43
25999   4.01  Premium     J      I1   62.5   62.0  15223  10.02   9.94  6.24
25998   4.01  Premium     I      I1   61.0   61.0  15223  10.14  10.10  6.17
...      ...      ...   ...     ...    ...    ...    ...    ...    ...   ...
31592   0.20  Premium     E     VS2   59.0   60.0    367   3.81   3.78  2.24
31591   0.20  Premium     E     VS2   59.8   62.0    367   3.79   3.77  2.26
31601   0.20  Premium     D     VS2   61.7   60.0    367   3.77   3.72  2.31
14      0.20  Premium     E     SI2   60.2   62.0    345   3.79   3.75  2.27
31596   0.20  Premium     F     VS2   62.6   59.0    367   3.73   3.71  2.33

[53940 rows x 10 columns]

In [ ]:
#Inciso 12: Filtramos filas tal que x>5, y>5 y z>5
tarea[(tarea["x"]>5) & (tarea["y"]>5) & (tarea["z"]>5)]

       carat    quality color clarity  depth  table  price     x      y      z
11778   1.83       Fair     J      I1   70.0   58.0   5083  7.34   7.28   5.12
13002   2.14       Fair     J      I1   69.4   57.0   5405  7.74   7.70   5.36
13118   2.15       Fair     J      I1   65.5   57.0   5430  8.01   7.95   5.23
13562   1.96       Fair     F      I1   66.6   60.0   5554  7.59   7.56   5.04
13757   2.22       Fair     J      I1   66.7   56.0   5607  8.04   8.02   5.36
...      ...        ...   ...     ...    ...    ...    ...   ...    ...    ...
27748   2.00  Very Good     G     SI1   63.5   56.0  18818  7.90   7.97   5.04
27749   2.29    Premium     I     VS2   60.8   60.0  18823  8.50   8.47   5.16
48410   0.51  Very Good     E     VS1   61.8   54.7   1970  5.12   5.15  31.80
49189   0.51      Ideal     E     VS1   61.8   55.0   2075  5.15  31.80   5.12
49905   0.50  Very Good     G    VVS1   63.7   58.0   2180  5.01   5.04   5.06

[1457 rows x 10 columns]

In [ ]:
# Inciso 13: Filtramos las filas para que s√≥lo muestren `carat‚Äô mayor a 0,4.
tarea13=tarea.copy() #Creamos una copia
for x in tarea.carat:  #Usamos el inicio de for loop de la consigna
  if x<0.4:             #Condicionamos a los valores pedidos
    tarea13.drop(tarea13.index[[tarea13.carat == x]].tolist(), inplace=True) 
'''
Este loop corre a traves de todos los valores de tarea.carat aunque esten 
repetidos, busca en la copia los indices que tengan ese valor y elimina dichas
filas de la copia de 'tarea'. Es totalmente ineficiente y tarda una eternidad.
'''
tarea13

/usr/local/lib/python3.7/dist-packages/pandas/core/indexes/base.py:4616: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  result = getitem(key)

       carat    quality color clarity  depth  table  price     x     y     z
64      0.42    Premium     I     SI2   61.5   59.0    552  4.78  4.84  2.96
90      0.70      Ideal     E     SI1   62.5   57.0   2757  5.70  5.72  3.57
91      0.86       Fair     E     SI2   55.1   69.0   2757  6.45  6.33  3.52
92      0.70      Ideal     G     VS2   61.6   56.0   2757  5.70  5.67  3.50
93      0.71  Very Good     E     VS2   62.4   57.0   2759  5.68  5.73  3.56
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[40848 rows x 10 columns]

In [ ]:
# Inciso 14: Filtramos filas que son Premium o Ideal. Recordar que cambiamos cut por quality. 
tarea[((tarea["quality"]=="Premium")|(tarea["quality"]=="Ideal"))]

       carat  quality color clarity  depth  table  price     x     y     z
0       0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
3       0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
11      0.23    Ideal     J     VS1   62.8   56.0    340  3.93  3.90  2.46
12      0.22  Premium     F     SI1   60.4   61.0    342  3.88  3.84  2.33
...      ...      ...   ...     ...    ...    ...    ...   ...   ...   ...
53931   0.71  Premium     F     SI1   59.8   62.0   2756  5.74  5.73  3.43
53934   0.72  Premium     D     SI1   62.7   59.0   2757  5.69  5.73  3.58
53935   0.72    Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53938   0.86  Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75    Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[35342 rows x 10 columns]

In [ ]:
#Inciso 15: Summary Statistics de 'carat'
tarea.carat.describe()

              carat
count  53940.000000
mean       0.797940
std        0.474011
min        0.200000
25%        0.400000
50%        0.700000
75%        1.040000
max        5.010000

In [ ]:
#Inciso 16: Calculamos la media de las columnas numericas
tarea[tarea.select_dtypes('float').columns.to_list()].mean() #Filtramos las columnas cuyo tipo sea float y calculamos sus medias

       carat  depth  table     x     y     z
0       0.23   61.5   55.0  3.95  3.98  2.43
1       0.21   59.8   61.0  3.89  3.84  2.31
2       0.23   56.9   65.0  4.05  4.07  2.31
3       0.29   62.4   58.0  4.20  4.23  2.63
4       0.31   63.3   58.0  4.34  4.35  2.75
...      ...    ...    ...   ...   ...   ...
53935   0.72   60.8   57.0  5.75  5.76  3.50
53936   0.72   63.1   55.0  5.69  5.75  3.61
53937   0.70   62.8   60.0  5.66  5.68  3.56
53938   0.86   61.0   58.0  6.15  6.12  3.74
53939   0.75   62.2   55.0  5.83  5.87  3.64

[53940 rows x 6 columns]

In [ ]:
#Inciso 17: Media de precio por cada tipo de 'cut' ('quality' ahora)
tarea.groupby('quality').price.agg(['mean'])

                  mean
quality
Fair       4358.757764
Good       3928.864452
Ideal      3457.541970
Premium    4584.257704
Very Good  3981.759891

In [ ]:
#Inciso 18: Calculamos la cantidad, el m√≠nimo y el m√°ximo precio para cada 'cut‚Äô (quality)
tarea.groupby('quality').price.agg(['count', 'min', 'max'])

           count  min    max
quality
Fair        1610  337  18574
Good        4906  327  18788
Ideal      21551  326  18806
Premium    13791  326  18823
Very Good  12082  336  18818

In [ ]:
#Inciso 19: Mostramos que valores puede tomar 'cut' ('quality')
tarea.quality.unique().tolist()

['Ideal', 'Premium', 'Good', 'Very Good', 'Fair']

In [ ]:
#inciso 20: Mostramos cuantas veces aparece cada valor de cut ('quality')
tarea.quality.value_counts()

Ideal        21551
Premium      13791
Very Good    12082
Good          4906
Fair          1610
Name: quality, dtype: int64

In [ ]:
#Inciso 21: Mostramos que porcentaje del total representa cada valor de cut ('quality')
100 * tarea.quality.value_counts()/ tarea.quality.value_counts().sum()

Ideal        39.953652
Premium      25.567297
Very Good    22.398962
Good          9.095291
Fair          2.984798
Name: quality, dtype: float64

In [ ]:
#Inciso 22:Tabla de doble entrada de cut (quality) y color
pd.crosstab(tarea.quality, tarea.color)

color         D     E     F     G     H     I    J
quality
Fair        163   224   312   314   303   175  119
Good        662   933   909   871   702   522  307
Ideal      2834  3903  3826  4884  3115  2093  896
Premium    1603  2337  2331  2924  2360  1428  808
Very Good  1513  2400  2164  2299  1824  1204  678